<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ng_project.admin.web</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/Themes.css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ng_project.admin.web</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Пользователи</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" asp-area="" asp-action="All" asp-controller="User">Все</a>
								<a class="dropdown-item" href="#">Участники</a>
								<a class="dropdown-item" href="#">Создатели</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Создать пользователя</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Проекты</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" asp-area="" asp-action="All" asp-controller="Project">Все</a>
								<a class="dropdown-item" asp-area="" asp-action="AllProjectType" asp-controller="Project">Все типы проектов</a>
								<a class="dropdown-item" asp-area="" asp-action="AllProjectSubType" asp-controller="Project">Все под типы проектов</a>
								<a class="dropdown-item" asp-area="" asp-action="AddProjectType" asp-controller="Project">Создать тип проекта</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Создать проект</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Навыки</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" asp-area="" asp-controller="Skill" asp-action="All">Все</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" asp-area="" asp-controller="Skill" asp-action="Add">Создать навык</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Роли</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" asp-area="" asp-controller="Roles" asp-action="All">Все</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" asp-area="" asp-controller="Roles" asp-action="Add">Создать роль</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Настройки</a>
						</li>
						@if (User.Identity.IsAuthenticated)
						{
							<li class="nav-item">
								<a asp-action="Profile" asp-controller="User" class="nav-link">@("Здравствуйте " + User.Identity.Name + "!")</a>
							</li>
							<li class="nav-item">
								<a asp-action="LogOut" asp-controller="Account" class="btn btn-info">Выйти</a>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a asp-action="Registration" asp-controller="Account" class="btn btn-info mr-2">Регистрация</a>
							</li>
							<li class="nav-item">
								<a asp-action="Login" asp-controller="Account" class="btn btn-info">Выполнить вход</a>
							</li>
						}

					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2021 - ng_project.admin.web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
	<script>

		function ShowLoader() {
			$('.loader-main-block .loader-bacdrop').show();
			$('.loader-main-block .loader-block').show();
		}
		function HideLoader() {
			$('.loader-main-block .loader-bacdrop').hide();
			$('.loader-main-block .loader-block').hide();
		}
	</script>
</body>
</html>
