@using System.Collections;
@using ng_project.Entities;
@using ng_project.Entities.Enum;

@model List<Participant>

<link rel="stylesheet" href="~/css/Project.css" />
<link rel="stylesheet" href="~/css/Participant.css" />
<div class="participant">

	<div class="container-fluid pl-5 pr-5">
		<div class="project-type">
			<div class="d-flex flex-nowrap">
				<div class="project-type-item select">
					<div class="icon">
						<img src="~/images/icon/game.png" />
					</div>
					<div class="text">
						ИГРЫ
					</div>
				</div>
				<div class="project-type-item">
					<div class="icon">
						<img src="~/images/icon/music.png" />
					</div>
					<div class="text">
						МУЗЫКА
					</div>
				</div>
				<div class="project-type-item">
					<div class="icon">
						<img src="~/images/icon/study.png" />
					</div>
					<div class="text">
						ОБРАЗОВАНИЕ
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-4">
				<div class="participant-item">
					<div class="opacityBackground">
						<div class="block BlueTheme">
							<div class="name">
								ПРОГРАММИСТЫ
							</div>
							<div class="count">
								количество участников: 10
							</div>
						</div>
					</div>
					
					<div class="description">
						Отвечают за написание кода
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="participant-item">
					<div class="block OrangeTheme">
						<div class="name">
							ПРОГРАММИСТЫ
						</div>
						<div class="count">
							количество участников: 10
						</div>
					</div>
					<div class="description">
						Отвечают за написание кода
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="participant-item">
					<div class="block RedTheme">
						<div class="name">
							ПРОГРАММИСТЫ
						</div>
						<div class="count">
							количество участников: 10
						</div>
					</div>
					<div class="description">
						Отвечают за написание кода
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
@foreach (Roles role in Enum.GetValues(typeof(Roles)))
{
}

