@using System.Collections;
@using ng_project.Entities;
@*@using ng_project.Entities.Enum;*@
@inject ng_project.Services.IProjectTypeService projectTypeService;
@inject ng_project.Services.IProjectSubTypeService projectSubTypeService;

@model List<Worker>

@{
	var projectTypes = projectTypeService.Include(t=> t.ProjectTypesRoles).FindAll();
	var projectSubType = new List<List<ProjectSubType>>();
	var indexProjType = 0;
}
<link rel="stylesheet" href="~/css/Project.css" />
<link rel="stylesheet" href="~/css/Participant.css" />
<div class="participant">

	<div class="container-fluid pl-5 pr-5">
		<div class="project-type">
			<div class="d-flex flex-nowrap">
				@foreach (var item in projectTypes)
				{
					<div class="project-type-item" id="project_type_@(item.Id)" onclick="loadSubType(@(item.Id),@(indexProjType++))">
						<div class="icon">
							<img src="~/images/icon/@(item.IconName).png" />
						</div>
						<div class="text">
							@(item.Name)
						</div>
					</div>
				}
			</div>
		</div>
		<div class="row mt-5">
			@Html.Partial("Participant/_Roles", projectTypes.First())
		</div>
	</div>

</div>

<script>
	$(document).ready(function () {
		$('.project-type-item:first').addClass("select")
	})
</script>