<link rel="stylesheet" href="~/css/Home.css" />
<link rel="stylesheet" href="~/css/AdminHome.css" />
<div class="mt-3">
	<div class="container">
		<div class="Home">
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="https://code.highcharts.com/modules/export-data.js"></script>
			<script src="https://code.highcharts.com/modules/accessibility.js"></script>

			<figure class="highcharts-figure">
				<div id="container"></div>
				<p class="highcharts-description">
					Variable radius pie charts can be used to visualize a
					second dimension in a pie chart. In this chart, the more
					densely populated countries are drawn further out, while the
					slice width is determined by the size of the country.
				</p>
			</figure>
			@*<div>

				</div>
				<div class=" mt-5">

				</div>
				<div class="mt-5">

				</div>*@
		</div>
	</div>
</div>
<script>
	Highcharts.chart('container', {
        chart: {
			backgroundColor: 'black',
    type: 'variablepie'
  },
  title: {
    text: 'Countries compared by population density and total area.'
  },
  tooltip: {
    headerFormat: '',
    pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
      'Area (square km): <b>{point.y}</b><br/>' +
      'Population density (people per square km): <b>{point.z}</b><br/>'
  },
  series: [{
    minPointSize: 10,
    innerSize: '20%',
    zMin: 0,
    name: 'countries',
    data: [{
      name: 'Spain',
      y: 505370,
      z: 92.9
    }, {
      name: 'France',
      y: 551500,
      z: 118.7
    }, {
      name: 'Poland',
      y: 312685,
      z: 124.6
    }, {
      name: 'Czech Republic',
      y: 78867,
      z: 137.5
    }, {
      name: 'Italy',
      y: 301340,
      z: 201.8
    }, {
      name: 'Switzerland',
      y: 41277,
      z: 214.5
    }, {
      name: 'Germany',
      y: 357022,
      z: 235.6
    }]
  }]
});
</script>