@using System.Collections;
@using ng_project.Entities;

@model Project

@using (Html.BeginForm("Add", "Project", FormMethod.Post))
{
<div>
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "from-control" } })
    @Html.EditorFor(m => m.ShortDescription, new { htmlAttributes = new { @class = "from-control" } })
    <input type="submit" value="Отправить" />
</div>

}


@*//на 3 свйоства создать релактирование(по аналогии) , и отправвка в метод Add*@


