@using ng_project.Entities;

@model List<Project>

<link rel="stylesheet" href="~/css/Project.css" />
<div class="container-fluid pl-5 pr-5">
	<div class="project-type">
		<div class="d-flex flex-nowrap">
			<div class="project-type-item select">
				<div class="icon">
					<img src="~/images/icon/game.png" />
				</div>
				<div class="text">
					ИГРЫ
				</div>
			</div>
			<div class="project-type-item">
				<div class="icon">
					<img src="~/images/icon/music.png" />
				</div>
				<div class="text">
					МУЗЫКА
				</div>
			</div>
			<div class="project-type-item">
				<div class="icon">
					<img src="~/images/icon/study.png" />
				</div>
				<div class="text">
					ОБРАЗОВАНИЕ
				</div>
			</div>
		</div>
	</div>
	<div class="project-sub-type mt-4">
		<div class="d-flex flex-nowrap">
			<div class="project-type-item select">
				<div class="text">
					RPG
				</div>
			</div>
			<div class="project-type-item">
				<div class="text">
					HORROR
				</div>
			</div>
			<div class="project-type-item">
				<div class="text">
					ACTION
				</div>
			</div>
			<div class="project-type-item">
				<div class="text">
					HORROR
				</div>
			</div>
			<div class="project-type-item">
				<div class="text">
					HORROR
				</div>
			</div>
			<div class="project-type-item">
				<div class="text">
					HORROR
				</div>
			</div>
		</div>
			
		</div>
	</div>
<div class="container-fluid mt-4 pl-5 pr-5">
	<div class="row">
		
		@foreach (var Project in Model)
		{
		<div class="col-md-4 mt-4">
			<div class="project-item" onclick="window.location.href='@Url.Action("Info","Project",new { id=Project.Id})'">
				@{
					var hasImage = Project.MainProjectImage != null && Project.MainProjectImage.Data != null;
					var hasUserImage = Project.User.Image != null && Project.User.Image.Data != null;
				}
				<div class="project-card @(hasImage ? "": "BlueTheme")">
				@if(hasImage)
				{
					<img src="data:image/jpeg;base64,@(Convert.ToBase64String(Project.MainProjectImage.Data))" />
				}
				</div>
				<div class="project-text-block mt-2">
					<div class="row">
						<div class="col-2">
							<div class="profile-img ">
								@if (hasUserImage)
								{
									<img src="data:image/jpeg;base64,@(Convert.ToBase64String(Project.User.Image.Data))" />
								}
							</div>
						</div>
						<div class="col-10">
							<div class="row">
								<span class="project-creator-name">
									@(Project.User.login)
								</span>
							</div>
							<div class="row">
								<span class="project-name">
									@(Project.Name)
								</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		}
	</div>
</div>
