@using ng_project.Entities;
@using ng_project.Services

@model User;

@*@Html.BeginForm("Add","Project", FormMethod.Post)
{*@

@{
	var projectTypeService = ProjectTypeService.Instance;
	var typeProjects = projectTypeService.FindAll().ToList();
	var subTypeProjectService = ProjectSubTypeService.Instance;
	var selectSubTypeProject = subTypeProjectService.FindAll(t => (t as ProjectSubType).ProjectTypeId == typeProjects[0].Id);
	var selectProjectTpype = new SelectList(typeProjects, "Id","Name");
	var selectProjectSubType = new SelectList(selectSubTypeProject, "Id", "Name");
}

	<form method="post" asp-action="Add" asp-controller="Project">
	<input type="hidden" name="UserId" value="@(Model.Id)" />
	<div class="modal-dialog ">
		<div class="modal-content OrangeTheme">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Создать проект</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label for="ProjectType.Name">Тип проекта</label>
				@Html.DropDownList("ProjectTypeId", selectProjectTpype, new { @class = "form-control" })
				<label for="ProjectType.Name">Подтип проекта</label>
				<div class="sub-type-project">
					@Html.DropDownList("ProjectSubTypeId", selectProjectSubType, new { @class = "form-control" })
				</div>
				<label for="Name">Название проекта</label>
				<input name="Name" type="text" class="form-control" value="" />
				<label for="Description">Описание проекта</label>
				<textarea class="form-control" name="Description" placeholder="Пример обязательного текстового поля" required></textarea>
				<label for="ShortDescription">Краткое описание проекта</label>
				<input name="ShortDescription" type="text" class="form-control" value="" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
				<button type="submit" class="btn btn-primary">Сохранить</button>
			</div>
		</div>
	</div>
</form>

<script>
	$(document).ready(() =>
	{
		$('#ProjectTypeId').bind("change", function (data) {
			let projectTypeId = $('select[name="ProjectTypeId"]').val();
			$.ajax({
				type: 'GET',
				url: '@Url.Action("GetSubTypes","User")',
				data: { projectTypeId: projectTypeId },
				success: function (data) {
					let subTypeBlock = $('.sub-type-project');
					subTypeBlock.empty();
					subTypeBlock.append(data.value);
				}
			})
		})
	})
</script>