.App ul li{
  list-style-type: none;
}
.App ul{
  list-style: none;
}

/* .MainView{
  background-image: ulr("./MainView.png");
} */

.App {
  font-family: 'Century Gothic',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App a{
  color:white;
  text-decoration: none;
}
.App a:hover{
  color:white;
  text-decoration: none;
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}

.svetyash-chiysya {
  /* font-size: 70px; */
  color: #f7f6f6;
  text-align: center;
  -webkit-animation: svetyash-chiysya 1s ease-in-out infinite alternate;
  -moz-animation: svetyash-chiysya 1s ease-in-out infinite alternate;
  animation: svetyash-chiysya 1s ease-in-out infinite alternate;
  }

  @keyframes svetyash-chiysya {
  from {
  text-shadow: 0 0 10px #f5f0f0, 0 0 20px #101010, 0 0 30px #101010, 0 0 40px #101010, 0 0 50px #9052ad, 0 0 60px #9052ad, 0 0 70px #9052ad;
  }
  to {
  text-shadow: 0 0 20px #f5f0f0, 0 0 30px #f54da1, 0 0 40px #f54da1, 0 0 50px #f54da1, 0 0 60px #f54da1, 0 0 70px #f54da1, 0 0 80px #f54da1;
  }
  }