@using ng_project.Entities;
@using ng_project.Entities.Enum;

@model User;

<div>
	Подписки:
</div>
<div class="row mb-lg-3">
	@for (int projectIndex = 0; projectIndex < Model.Subscriber.Projects.Count; projectIndex++)
		{
			<input type="hidden" name="Subscriber.Projects[projectIndex].Id" value="@(Model.Subscriber.Projects[projectIndex].Id)" />
			<div class="col-6 mt-3" onclick="window.location.href='@Url.Action("Info","Project",new { id=Model.Subscriber.Projects[projectIndex].Id})'">
				<div class="project-item-block">
					<div class="project-item">
						@{
							var hasImage = Model.Subscriber.Projects[projectIndex].MainProjectImage != null && Model.Subscriber.Projects[projectIndex].MainProjectImage.Data != null;
						}
						<div class="project-card @(hasImage ? "": "BlueTheme")">
							@if (hasImage)
							{
								<img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Subscriber.Projects[projectIndex].MainProjectImage.Data))" />
							}
							<div class="name">
								@(Model.Subscriber.Projects[projectIndex].Name)
							</div>
						</div>
					</div>
				</div>

			</div>
		}
</div>