@using ng_project.Entities;

@model List<Project>; 

@{
    ViewData["Title"] = "Домашняя страница";
}
<link rel="stylesheet" href="~/css/Home.css" />
<div class="mt-3">
	<div class="container">
		<div class="Home">
			<div>
				@Html.Partial("Home/_MainViewImage")
			</div>
			<div class=" mt-5">
				@Html.Partial("Home/_MainViewPosition")
			</div>
			<div class="mt-5">

			</div>
		</div>
	</div>
</div>


<script>
	$('.Right').hover(() =>
	{
		$('.Main-view-participant').show();
		$('.Main-view-Creator').hide();
	})
	$('.Left').hover(() => {
		$('.Main-view-participant').hide();
		$('.Main-view-Creator').show();
	})
</script>