@using ng_project.Entities;

@model Project;
<div class="SendBecome" asp-controller="Project">
	<div class="command-page">
		<div class="name">
			Сопроводительное письмо
		</div>
		<div class="text">
			<textarea placeholder="Введите текст ..." name="SendBecome"></textarea>
		</div>
		<div class="d-flex justify-content-center">
			<div class="btn BtnBorderBlue" onclick="SendBecome()">
				Стать частью проекта
			</div>
		</div>
	</div>
</div>

<script>
function SendBecome() {
	let textArea = $('textarea[name="SendBecome"]');
  	let text = textArea.val();
	ShowLoader();
  	
  	$.ajax({
  		type:'POST',
  		url: '@(Url.ActionLink("SendBecome","Project"))',
  		data : {projectId:@(Model.Id), text:text},
  		success: function(data) {
  			HideLoader();
			let block = $('.SendBecome').empty();
		  	textArea.val("");
		  	block.append(data);
  		}
  	});
}
</script>