<div class="page-list-info page-list-main">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5">
			<div class="image">
				<div id="carouselPageListInfoImages" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner carousel-page-inner">
						<div class="carousel-item active carousel-page-list-image">
							@*<img src="..." class="d-block w-100" alt="...">*@
							<div class="BlueTheme" style="width:100%;height:100%;border-radius: 0.5em;">

							</div>
						</div>
						<div class="carousel-item carousel-page-list-image">
							@*<img src="..." class="d-block w-100" alt="...">*@
							<div class="OrangeTheme" style="width:100%;height:100%;border-radius: 0.5em;">

							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselPageListInfoImages" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Предыдущий</span>
					</a>
					<a class="carousel-control-next" href="#carouselPageListInfoImages" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Следующий</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="creator BlueTheme">
				<div class="text d-flex flex-nowrap">
					<span>
						СОЗДАТЕЛЬ: @(!string.IsNullOrEmpty(Model.User.LastName) && string.IsNullOrEmpty(Model.User.FirstName) ? $"{Model.User.LastName} {Model.User.FirstName}" : Model.User.login)
					</span>
					@if (Model.MainProjectImage != null && Model.MainProjectImage.Data != null)
					{
						<img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.User.Image.Data))" />
					}
				</div>
			</div>
			<div class="description">
				@Model.Description
			</div>
		</div>
		<div class="col-1"></div>
	</div>
	</div>