<link rel="stylesheet" href="~/css/ProjectInfo.css" />

<div class="container">
    <div class="send-become-success">
        <div class="succes-block BlueTheme">
            <div class="text">
                Ваша заявка отправлена, спасибо за участие!    
            </div>
        </div>
    </div>
</div>