<div className="container">
	<div className="d-flex justify-content-center">
		<div class="MainView">
			<div class="Block">
				<div class="TextBlockView">
					<div class="Left">
						<div class="TextBlock">
							<img src="~/images/MainViewCreator.png" class="Main-view-Creator" />
						</div>
						<div class="Creator">
							СОЗДАТЕЛЬ
						</div>


					</div>
					<div class="Right">
						<div class="TextBlock">
							<img src="~/images/MainViewParticipant.png" class="Main-view-participant" />
						</div>
						<div class="Participant">
							УЧАСТНИК
						</div>


					</div>
				</div>

			</div>
		</div>
	</div>
</div>