<div className="container">
	<div className="d-flex justify-content-center">
		<div class="MainView">
			<div class="Block">
				<div class="BackBlockLeft Blue">

				</div>
				<div class="BackBlockRight Blue">

				</div>
				<div class="BlockView">
					<div>
						<div class="MainText">
							РЕАЛИЗУЙ СВОЮ
						</div>
						<div class="MainDreamText">
							МЕЧТУ
						</div>
					</div>
					<div>
						<img class="MainViewImg" src="~/images/MainViewTopLeft.png" />
						<img class="BottomRightImg" src="~/images/MainViewBottomRight.png" />
						<img class="TriangleImg" src="~/images/triangleMainView.png" />
						<img class="xImg" src="~/images/xMainView.png" />
						<img class="ElipseImg" src="~/images/elipseMainView.png" />
						<img class="TriangleImg" src="~/images/triangleMainView.png" />
						<img class="SmallElipsesImg" src="~/images/smallElipsesMainView.png" />
					</div>
				</div>


			</div>
		</div>
	</div>
</div>