.participant-skills {
	width: 100%;
	padding: 1em 0.5em;
}

	.participant-skills .participant-skill-item {
		margin-top: 0.25em;
		margin-left: 0.25em;
		margin-right: 0.25em;
		font-size: 15pt;
		background-color: #3e3c3c;
		border-radius: 0.25em;
		padding: 0.5em;
		text-align: center;
		/*max-width: 5em;*/
		cursor: pointer;
		color:white;
	}

		.participant-skills .participant-skill-item:hover {
			background: #5b5858;
		}
